/* ======= LAYOUT ============ */
.is-flex {
  display: flex;
}

.is-justify-center {
  justify-content: center;
}

.is-justify-around {
  justify-content: space-around;
}

.is-justify-between {
  justify-content: space-between;
}

.is-justify-end {
  justify-content: flex-end;
}

.is-justify-start {
  justify-content: flex-start;
}

.is-align-center {
  align-items: center;
}

.is-align-end {
  align-items: flex-end;
}

.is-align-start {
  justify-content: flex-start;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.mb-5 {
  margin-bottom: 2.5rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.mr-3 {
  margin-right: 1.5rem !important;
}

.mr-4 {
  margin-right: 2rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.ml-2 {
  margin-left: 1rem !important;
}

.ml-3 {
  margin-left: 1.5rem !important;
}

.ml-4 {
  margin-left: 2rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.flex-wrap {
  flex-wrap: wrap;
}
/* ======= CUSTOM INPUT ============ */
.gs-form-item--auth {
  position: relative;
  width: 100%;
  font-family: "Quicksand", sans-serif;

  .el-form-item__label {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    left: 0;
    font-size: 16px;
    padding-bottom: 0;
    transition: all 0.2s ease-out;
  }

  .has-value {
    color: #4d00d2;
    top: 15%;
    font-size: 12px;
    transition: all 0.2s ease-in;
  }

  .el-input__inner, .el-textarea__inner {
    color: #070013;
    font-weight: 500;
    height: 60px;
    padding: 15px 15px 0;
    border: none;
    border-bottom: 1px solid rgba(1, 21, 25, 0.1);
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    transition: all 0.25s ease-out;
    font-family: "Quicksand", sans-serif;
  }

  .el-textarea__inner {
    height: auto !important;
  }

  i {
    position: relative;
    top: 10%;
    right: 10px;
  }

  .el-textarea__inner {
    height: 80px;
    padding-top: 28px;
  }

  .el-input__inner:focus, .el-textarea__inner:focus {
    outline: 0 !important;
    border-color: #4d00d2;
    transition: all 0.25s ease-in;
  }
}

.el-input.is-disabled .el-input__inner {
  background-color: transparent !important;
}

.el-form-item__label {
  padding-left: 15px !important;
}

.gs-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 20px;

  .el-form-item {
    margin-bottom: 0;
    height: auto !important;
    width: 300px;
  }

  .el-button {
    margin-right: 10px;
    display: flex;
    align-items: center;

    i {
      margin-left: 5px;
      font-size: 12px;
    }

    &:hover {
      border-color: #7f828b;
      color: #7f828b;
      transform: translateY(0) !important;
      box-shadow: none !important;
    }
  }
}

/* ========== BUTTON =========== */
.el-button {
  transition: all 0.2s ease-in;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;

  &.el-button--primary {
    border: none !important;
  }

  &:not(.el-button--text):not(.el-button--mini):not(.el-button--small):focus,
  &:not(.el-button--text):not(.el-button--mini):not(.el-button--small):hover {
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) !important;
    transform: translateY(-3px);
    transition: all 0.2s ease-out;
  }

  &:focus {
    outline: none !important;
  }

  &.el-button--text {
    padding: 15px 30px;
  }

  &.is-plain,
  &.is-plain:hover,
  &.is-plain:focus {
    background: #ede6fb !important;
    color: #4d00d2;
  }
}

/* ========== CARD ========== */
.el-card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: none !important;

  .el-card__body {
    padding: 0 !important;
  }
}

@media (max-width: 1280px) {
  .el-card {
    margin-bottom: 50px;
  }
}

/* ======== POPOVER ======= */
.el-popover {
  width: 300px !important;
  min-height: 200px;
  top: 50px !important;
}

.el-popper[x-placement^="right"] .popper__arrow::after {
  top: -40px;
}

/* ====== Dropdown ====== */
.el-dropdown-menu__item {
  i {
    font-size: 0.75rem;
    margin-right: 10px;
  }
}

.el-tabs__item {
  padding: 0 30px;
  font-size: 16px;
}

/* ====== TAB NAV ====== */
.el-tabs__header {
  margin-bottom: 40px;
}

.el-tabs__item {
  padding: 0 30px;
  font-size: 16px;
}


/* ===== NOTIFICATION ======== */
.el-message {
  min-height: 80px;
  left: unset;
  right: 20px;
  transform: translateY(0);

  &.el-message--success {
    background-color: #07001399;

    i, .el-message__content {
      color: #fff;
      font-size: 18px;
    }
  }
}


/* ===== PADDING and MARGIN ======== */
.mb-5 {
  margin-bottom: 2.5rem;
}

/* ===== SELECT ======== */
.el-select {
  width: 100%;
}


/* ===== TAG ======== */
.el-tag {
  font-weight: 600;
}

/* ===== MESSAGE BOX ===== */
.el-message-box {
  width: 500px;
  padding: 30px;
}

/* ===== DIALOG ====== */
.el-dialog__wrapper.large .el-dialog {
  height: 70vh;
}

.el-dialog {
  margin-top: 5vh !important;
  overflow-y: scroll;
}

.el-dialog__header {
  padding: 30px 50px 0;

  .el-dialog__title,
  .dialog-header-title {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;

    + p {
      margin-top: 5px;
    }
  }
}

.el-dialog__body {
  padding: 50px;
}

@media (max-width: 1200px) {
  .el-dialog {
    width: 80% !important;
  }
}

/* ======== ALERT ======== */
.el-alert {
  margin-bottom: 10px;
}

/* ======== TABLE ======== */
.el-table {
  th {
    text-transform: uppercase;
    font-size: 12px;
  }
}

/* ======== DATEPICKER ======== */
.el-form-item__content {
  .el-input--prefix .el-input__icon.el-icon-date {
    display: none !important;
  }
}

/* ======== File Uploader ======== */
.vue-csv-uploader {
  .form-group {
    display: flex;
    justify-content: center;
  }

  .csv-import-file {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px dashed #798b8366;
    background: #f8faf9;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;

    input {
      position: absolute;
      height: 100%;
      width: 100%;
      cursor: pointer;
      opacity: 0;
      z-index: 1;

      &:focus {
        border: none;
      }
    }

    span.chosen {
      color: #4d00d2;
      font-weight: 500;
    }
  }

  .vue-csv-mapping {
    table {
      width: 100%;

      thead {
        display: none;
      }

      tbody {
        display: flex;
        flex-wrap: wrap;
      }

      tr {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }

      td {
        padding: 5px 10px 5px 0;

        select {
          height: 40px;
          width: 100%;
          border: 1px solid #798B8330;
          border-radius: 4px;
        }
      }
    }
  }
}


/* ======== TYPOGRAPHY ======== */
.gs-layout--section:not(:last-child) {
  margin-bottom: 50px;
}

.gs-layout--heading {
  margin-right: 20px;

  h3 {
    font-size: 0.92rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #070013;
    opacity: 0.7;
  }
}
